.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

## Big shapefiles
civic-areas/*
parish-shapes/*

## Word documents
**/*.docx

## HTML files
**/*.html

## Random guff
markdown-templates/*_cache
markdown-templates/*_files
R/*_cache
R/*_files