.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

## Big shapefiles
civic-areas/*
parish-shapes/*

## Word documents
R/*.docx
markdown-templates/*.docx

## HTML files
R/*.html
markdown-templates/*.docx

## Random guff
markdown-templates/*_cache
markdown-templates/*_files
R/*_cache
R/*_files